body {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

.whole {
  background-color: rgb(20, 20, 20);
  margin: 0px;
  padding: 0px;
}
.ueberschrift1 {
  color: rgb(255, 255, 255);
  font-family: "arial";
  font-size: 30px;
  letter-spacing: 10px;

  text-align: CENTER;
}

.margini {
  margin-top: 4em;
}

.ueberschrift2 {
  color: rgb(255, 255, 255);
  font-family: "arial";
  font-size: 25px;
  letter-spacing: 2px;
  text-align: CENTER;
  margin-top: 1em;
}

.bilder {
  max-width: 100%;
}
.china {
  transform: rotate(180deg);
}

.fussbereich {
  color: rgb(255, 255, 255);
  font-family: arial;
  font-size: 14px;
  text-align: CENTER;
  margin-top: 1em;
}

.Canvas {
  margin-left: 20%;
  margin-right: 20%;
  padding: 0px;
}

.CanvasRoulette {
  margin-left: 30%;
  margin-right: 30%;
}
