body {
  background-color: rgb(8, 0, 30);
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.loadingclass {
  background-color: rgb(8, 0, 30);
  color: rgb(255, 255, 255);
  text-align: CENTER;
  padding: 0px;
  margin-top: 30vh;
  left: 50%;
  overflow: hidden;
  font-family: bebas neue;
  src: url(Font/BebasNeue-Regular.otf);
  font-size: 5em;
}
